@import "base";

/** Header **/
header {
  margin: 0 auto;
  max-width: 1335px;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  header {
    &.sticky {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 2;
    }
  }
}

/** Footer **/
footer {
  margin: 0 auto;
  max-width: 1335px;
  position: relative;
  height: 400px;
  width: 100%;
  margin-top: auto;
  display: flex;
  font-size: 1.4rem;
  flex-direction: row;
  justify-content: center;
  padding: 10rem 2rem 5rem;
}